body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-img-top{
  height: 30vh;
  object-fit: contain;

}

.card-container{
  position: relative; 
}

.card-container:before{
  content:"";
  position:absolute;
  width:100%;
  height:100%;
  top:0;left:0;right:0;
  background-color:rgba(0,0,0,0);
}
.card-container:hover::before {
  background-color:rgba(0,0,0,0.25);
}

.card-container img {
  display:block;
}
.card-container button {
  position: absolute;
  top: 10%;
  left: 15%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  opacity:0;
} 
.card-container:hover button {   
  opacity: 1;
}

.img-cart{
  height: 30vh!important;
  object-fit: contain!important;
}